* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: dimgrey;
}

header {
	width: 100%;
	height: 100px;
	display: grid;
	justify-content: center;
	align-items: center;
}

main {
	width: 100%;
	height: 550px;
	display: grid;
	justify-content: center;
}

.board_container {
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	margin-top: 30px;
}

.cell {
	color: blanchedalmond;
	cursor: pointer;
	width: 167px;
	height: 167px;
	font-size: 140px;
	text-align: center;
}

div[data-index="0"], div[data-index="3"], div[data-index="6"],
div[data-index="1"], div[data-index="4"], div[data-index="7"] {
	border-right: 5px solid blanchedalmond;
}

div[data-index="0"], div[data-index="1"], div[data-index="2"],
div[data-index="3"], div[data-index="4"], div[data-index="5"] {
	border-bottom: 5px solid blanchedalmond;
}

footer {
	width: 100%;
	height: 190px;
	display: grid;
	justify-content: center;
	align-items: center;
}

.info_container {
	width: 500px;
	display: grid;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.text {
	font-size: 50px;
	font-weight: bold;
	color: blanchedalmond;
	margin-bottom: 30px;
}

button {
	border: none;
	font-size: 20px;
	font-weight: bold;
	width: 300px;
	height: 80px;
	border-radius: 5px;
	background-color: blanchedalmond;
	color: dimgrey;
	cursor: pointer;
}

button:hover {
	opacity: 0.7;
	transition: 0.3s;
}